<div id="app-container">
  <div id="map-container"></div>

  <div id="toolbar">
    <h1>Geonotification</h1>
    <% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to 'Sign in',  new_user_session_path %>
  <% end %>
    <div id="areas-container">
        <%= form_tag '/aois' do -%>
        <div id="areas">

        </div>
        <p>
           <%= submit_tag "Save areas" %>
        </p>
        <% end -%>
    </div>

    <div id="poi-container">
     <% if user_signed_in? %>
        <%= link_to 'Create POI', new_poi_path  %>
     <% end %>
    </div>

  </div>

</div>