<!DOCTYPE html>
<html>
<head>
  <title>Geonotifications</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDcIZPf3Cc0gRAXNss5v7KfhFAiAxIiBWg&sensor=false&libraries=drawing" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<% if user_signed_in? %>
<body class="connected">
<% else %>
<body>
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<header class="navbar">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <a href="#" class="navbar-brand">Geonotifications</a>
        </div>
    </div>
  </div>
</header>

    <%= yield %>
<script src="http://localhost:1337/livereload.js"></script>
</body>
</html>
