<!DOCTYPE html>
<html>
<head>
  <title>Geonotifications</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDcIZPf3Cc0gRAXNss5v7KfhFAiAxIiBWg&sensor=false&libraries=drawing" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<script src="http://localhost:1337/livereload.js"></script>
</body>
</html>
